# Syntaxe : https://docs.github.com/fr/get-started/getting-started-with-git/ignoring-files

# Dépendances
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Natif
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Débogage
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Fichiers d'environnement locaux
.env*.local

# TypeScript
*.tsbuildinfo

# Dossiers natifs générés
/ios
/android
